@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Inter";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.prompt {
  display: flex;
  flex-direction: column;
  width: 475px;
  height: 525px;

  &__top {
    padding: 16px;
    height: 50%;
    display: flex;
    justify-content: flex-end;
  }

  &__bottom {
    padding: 36px;
    height: 50%;
    background-color: #343647;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__close {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  &__header {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
    letter-spacing: 0.02em;
  }

  &__text {
    font-size: 16px;
    margin-top: 22px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  &__nav-cont {
    display: flex;
    align-items: center;
  }

  &__page-number {
    font-size: 14px;
  }

  &__next, &__done {
    margin-left: 10px;
    font-size: 16px;
    padding: 8px 18px;
    background-color: #276afc;
    border-radius: 12px;
  }

  &__previous {
    font-size: 16px;
    margin-left: auto;
    margin-right: 16px;
  }
}
